* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.landing-container {
  height: 100vh;
  width: 100%;
}

.landing-content {
  margin: auto;
  padding: 250px 0;
  text-align: center;
}

.landing-header {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 100px;
  flex-basis: 100%;
}

.landing-nav {
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  flex-basis: 100%;
}

ul {
  display: flex;
  list-style: none;
}

.nav-item {
  flex: 1;
  align-items: center;
}
